[submodule "vim/bundle/vim-scriptease"]
	path = vim/bundle/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "vim/bundle/color-molokai"]
	path = vim/bundle/color-molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/NERDCommenter"]
	path = vim/bundle/NERDCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/NERDTree"]
	path = vim/bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/jdonaldson/vim-powerline.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/fencview"]
	path = vim/bundle/fencview
	url = https://github.com/mbbill/fencview.git
[submodule "vim/bundle/rainbow-parentheses"]
	path = vim/bundle/rainbow-parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
	url = https://github.com/bootleq/ShowMarks.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/wokmarks"]
	path = vim/bundle/wokmarks
	url = https://github.com/vim-scripts/wokmarks.vim.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/minibufexpl"]
	path = vim/bundle/minibufexpl
	url = https://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/bundle/xptemplate"]
	path = vim/bundle/xptemplate
	url = https://github.com/drmingdrmer/xptemplate.git
[submodule "vim/bundle/ywvim"]
	path = vim/bundle/ywvim
	url = https://github.com/vim-scripts/ywvim.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundle/pandoc"]
	path = vim/bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/ctrlp-funky"]
	path = vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "vim/bundle/colorizer"]
	path = vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer.git
